# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
.venv/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/
.pyre/
.pytype/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
**/.docker/
**/Dockerfile*
**/docker-compose*.yml
